.locationSelect {
  --background-color: hsla(0, 0%, 0%, 0.75);
  --background-color-hover: hsla(0, 0%, 0%, 0.9);
  --text-color: #f4f4f6;
  --text-color-hover: #ffffff;

  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 8vh;
  overflow: hidden;

  background-color: var(--background-color);

  transition-property: height;
  transition-duration: 0.25s;
}

.locationSelectShown {
  height: 100vh;
  z-index: 2;
}

.locationSelectRevealButton {
  position: relative;
  width: 100%;
  height: 8vh;
  padding-left: 16px;
  padding-right: 48px;
  line-height: 1.25rem;
  font-size: 1.1rem;
  text-align: left;
  text-transform: uppercase;
  color: var(--text-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.25s;
}

.locationSelectRevealButton::before {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  right: 14px;
  width: 16px;
  height: 4px;
  transform: rotate(-45deg);
  background-color: var(--text-color);
  transition-property: transform, background-color;
  transition-duration: 0.25s;
}

.locationSelectRevealButton::after {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  right: 24px;
  width: 16px;
  height: 4px;
  transform: rotate(45deg);
  background-color: var(--text-color);
  transition-property: transform, background-color;
  transition-duration: 0.25s;
}

.locationSelectRevealButton:hover {
  color: var(--text-color-hover);
  background-color: var(--background-color-hover);
}

.locationSelectRevealButton:hover::before {
  background-color: var(--text-color-hover);
}

.locationSelectRevealButton:hover::after {
  background-color: var(--text-color-hover);
}

.locationSelectShown .locationSelectRevealButton::before {
  transform: rotate(45deg);
}

.locationSelectShown .locationSelectRevealButton::after {
  transform: rotate(-45deg);
}

.locationSelectContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  height: 80vh;
  padding: 16px;
}

.locationSelectEntry {
  display: grid;
  grid-template-columns: 1fr 48px;
  width: 100%;
}

.locationSelectEntryButton {
  padding: 12px 0px;
  font-size: 1rem;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.25rem;
  color: var(--text-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.25s;
}

.locationSelectEntryButton:hover {
  color: var(--text-color-hover);
  background-color: var(--background-color-hover);
}

.locationSelectEntryButton:disabled {
  opacity: 0;
  visibility: hidden;
}

.locationSelectEntryDeleteButton {
  font-size: 2rem;
  text-align: center;
}

.locationSelectEntryDeleteButton:hover {
  color: red;
}

.unitSelect {
  --background-color: hsla(0, 0%, 0%, 0.75);
  --background-color-hover: hsla(0, 0%, 0%, 0.9);
  --text-color: #f4f4f6;
  --text-color-hover: #ffffff;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 10vh;
}

.unitSelectButton {
  padding: 12px 0px;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.25rem;
  color: var(--text-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.25s;
}

.unitSelectButton:hover {
  color: var(--text-color-hover);
  background-color: var(--background-color-hover);
}

@media (min-width: 600px) {
  .locationSelectRevealButton {
    padding-left: 8px;
    text-align: center;
  }

  .locationSelectEntryButton {
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .locationSelect {
    width: 50vw;
  }

  .locationSelectRevealButton {
    padding-left: 16px;
    text-align: left;
  }

  .locationSelectEntryButton {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .locationSelectEntryDeleteButton {
    text-align: center;
  }
}
